body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #2196f3, #f44336);
    font-family: 'Poppins', sans-serif;
}

.heading {
    color: white;
    margin: 3rem 0 0;
}

.tagline {
    color: white;
    margin: 0 0 3rem;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.inputField {
    padding: 0 0.5rem;
    border-radius: 7px;
    height: 2rem;
    border: 0;
    outline: 0;
    background-color: aliceblue;
    margin-bottom: 1rem;
}

.inputField::placeholder {
    font-family: 'Poppins', sans-serif;
}

.analyseButton {
    margin-bottom: 1rem;
    border-radius: 7px;
    border: 0;
    height: 2rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: #03045e;
    color: white;
}

.result {
    text-align: center;
    border-radius: 7px;
    width: 300px;
    padding: 1rem 0;
    color: white;
}

p {
    font-size: 1rem;
    padding: 0rem;
}